* {
  box-sizing: border-box;
}

html {
  font-family: Poppins, serif;
  font-size: var(--fs);
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:focus {
  outline: none;
}
