@import url(./vars.css);
@import url(./basics.css);
@import url(./typography.css);
@import url(./helpers.css);

body {
  background-color: #22252c;
  padding: 15px;
}

/* LAYOUT */

.main-layout > *:not(.full) {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.full {
  width: 100%;
}

/* HEADER */

.main-nav {
  border-radius: 35px;
  background-color: #5970c1;
  background-image: linear-gradient(-86deg, var(--secondary-color) 0%, var(--primary-color) 100%);
  margin-block-end: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 15px;
}

.main-nav ul {
  gap: 15px;
}

.logo-img {
  width: 100px;
  height: auto;
}

.link {
  color: #fefefe;
  font-size: 1.25em;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  padding: 0.625em 1.25em;
  border-radius: 1.25em;
  transition: .3s;
}

.link:hover {
  color: #21ac91;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  border-radius: 1.25em;
  background-color: #fefefe;
}

.active-link {
  color: #21ac91;
  font-weight: 500;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  background-color: #fefefe;
}

/* FILTERS */

.gallery-container {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #383b42;
  padding: 40px;
}

.gallery-container .filters {
  display: grid;
  grid-template-columns: 3fr 4fr 1fr;
  margin-bottom: 40px;
  align-items: center;
  gap: 20px;
}

.gallery-container .filters .search-input {
  font-size: 1.31rem;
  padding: 15px 50px;
  border-radius: 29px;
  background-color: #22252c;
  color: white;
  border: none;
}

.gallery-container .filters .search-input:focus {
  outline: none;
}

.gallery-container .filters .keywords {
  padding: 10px 30px;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  background-color: rgba(254, 254, 254, 0.4);
  color: white;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.gallery-container .filters .keywords .word {
  cursor: pointer;
}

.gallery-container .filters button {
  max-width: max-content;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 15px;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  color: #fefefe;
  background: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
  transition: transform .3s;
}

.gallery-container .filters button:hover {
  transform: scale(1.1);
}

/* GALLERY */

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.gallery .gallery-item {
  position: relative;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

.gallery .gallery-item:hover {
  box-shadow: none;
}

.gallery .gallery-item-overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: height .3s;
}

.gallery .gallery-item:hover .gallery-item-overlay {
  height: 100%;
}

.gallery .gallery-item .gallery-item-img {
  border-radius: 5px;
  width: 200px;
  height: 100%;
}

/* MEME GENERATOR / EDITOR */

.meme-generator {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.meme-generator .meme-editor-container {
  width: 100%;
  text-align: center;
}

.meme-generator .meme-editor-container .meme-editor {
  border-radius: 15px;
  outline: 3px solid rgba(255, 255, 255, 0.4);
}

/* TEXT-ACTIONS */

.meme-actions {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.11);
  padding: 25px 40px;
}

.meme-actions .back-lnk {
  box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: #ffffff;
  font-size: inherit;
  padding: 5px 10px;
  transition: .2s;
  max-width: max-content;
}

.meme-actions .back-lnk:hover {
  background-color: rgba(128, 128, 128, 0.658);
  color: white;
  box-shadow: none;
}

.meme-actions .text-actions {
  margin: 20px 30px;
  gap: 20px;
}

.meme-actions .text-actions button {
  text-shadow: 1px 3px 0 rgba(1, 93, 51, 0.61);
  color: #ebeef3;
  font-size: 1.85em;
  font-weight: 400;
  transition: .3s;
}

.meme-actions .text-actions button:hover {
  text-shadow: none;
  box-shadow: none;
}

.meme-actions .text-actions .switch-text-btn {
  box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
  background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.meme-actions .text-actions .add-text-btn {
  box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
  background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.meme-actions .text-actions .remove-txt-btn {
  box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
  background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.meme-actions .input-group .editor-textbox {
  color: #3d3d3d;
  font-size: 1.562em;
  font-weight: 500;
  text-align: center;
  border-radius: 30px;
  background-color: #ebeef3;
  padding: 15px 0;
}

.meme-actions .input-group .editor-textbox:focus {
  outline: none;
}

/* MEME CONTROLS */

.meme-controls {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 20px;

  border-radius: 15px;
  background-color: #19a59f;
  padding: 20px;
  font-size: 2em;
}

.meme-controls button {
  box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
  background-color: #ffffff;
  font-size: inherit;
  max-width: 55px;
  margin: auto;
  transition: .3s;
}

.meme-actions button:hover,
.meme-actions .font-select:hover {
  box-shadow: none;
  background-color: rgba(54, 54, 54, 0.69);
  color: white;
}

.meme-controls > button {
  grid-row: 1;
}

.meme-controls .font-select {
  grid-row: 2;
  grid-column: 1 / 4;

  box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
  border-radius: 10px;
  font-size: inherit;
  background-color: #ffffff;
  padding-inline: 35px 20px;
  transition: .3s;
}

.meme-controls .font-select:focus {
  outline: none;
}

.meme-controls .colors-btns {
  grid-row: 2;
  grid-column: 4 / span 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
}

/* HIDDEN COLOR INPUT */
.meme-controls .color-picker {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* MEME STICKERS */

.meme-actions .meme-faces {
  flex-grow: 1;
  border-radius: 30px;
  background-color: #ebeef3;
  margin: 20px 0 30px;
  text-align: center;
  font-size: 2em;
  padding: 5px 0;
}

.meme-actions .meme-faces .face {
  cursor: grab;
}

.meme-actions .meme-share a {
  padding: 15px 35px;
  font-size: 1.25rem;
  color: white;
  border-radius: 15px;
  transition: .3s;
}

.meme-actions .meme-share a:hover {
  box-shadow: none;
  text-shadow: none;
}

.meme-actions .meme-share .share-link {
  box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 rgba(255, 255, 255, 0.5);
  background-color: #1e7cd3;
}

.meme-actions .meme-share .save-link {
  box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
  background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.meme-actions .meme-share .download-link {
  box-shadow: 1px 6px 0 #632687, inset 0 5px 0 rgba(255, 255, 255, 0.5);
  background-color: #8f44bb;
}