/* Base */
@import url(./vars.css);
@import url(./basics.css);
@import url(./typography.css);
@import url(./helpers.css);
/* Components */
@import url(./components/header.css);
@import url(./components/filters.css);
@import url(./components/gallery.css);
/* Editor / Generator */
@import url(./components/editor/meme-generator.css);
@import url(./components/editor/meme-controls.css);
@import url(./components/editor/meme-actions.css);
/* Media */
@import url(./layout.css);

.main-screen {
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
  opacity: 0;
  transition: opacity 0.6s;
  pointer-events: none;
}

body.menu-open .main-screen {
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
}

body.menu-open .main-nav ul {
  right: 0;
}
