@import url(./vars.css);
@import url(./basics.css);
@import url(./typography.css);
@import url(./helpers.css);

body {
  background-color: #22252c;
  padding: 15px;
}

/* LAYOUT */

.main-layout > *:not(.full) {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.full {
  width: 100%;
}

/* HEADER */

.main-nav {
  border-radius: 35px;
  background-color: #5970c1;
  background-image: linear-gradient(-86deg, var(--secondary-color) 0%, var(--primary-color) 100%);
  margin-block-end: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 15px;
}

.logo-img {
  width: 100px;
  height: auto;
}

.link {
  color: #fefefe;
  font-size: 1.25em;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  padding: 0.625em 1.25em;
  border-radius: 1.25em;
}

.link:hover {
  color: #21ac91;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  border-radius: 1.25em;
  background-color: #fefefe;
}

.active-link {
  color: #21ac91;
  font-weight: 500;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  background-color: #fefefe;
}

/* GALLERY */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 40px;
}

.gallery-item {
  position: relative;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

.gallery-item:hover {
  box-shadow: none;
}

.gallery-item-img {
  border-radius: 5px;
  width: 200px;
  height: 100%;
}

.gallery-item-keywords {
  z-index: 10;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.gallery-badge {
  display: inline-block;
  margin: 0 5px;
  padding: 0 6px;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}

/* MEME GENERATOR / EDITOR */

.meme-generator {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.meme-editor-container {
  width: 100%;
  text-align: center;
}

.meme-editor {
  border-radius: 15px;
  outline: 3px solid rgba(255, 255, 255, 0.4);
}

.meme-actions {
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.11);
  padding: 25px 40px;
}

.text-actions button {
  padding: 15px;
  /* color: white; */
}

.text-actions button:focus {
  outline: none;
}

.editor-textbox {
  color: #3d3d3d;
  font-size: 1.562em;
  font-weight: 500;

  text-align: center;
  border-radius: 30px;
  background-color: #ebeef3;
}

.editor-textbox:focus {
  outline: none;
}

/* MEME CONTROLS */

.meme-controls {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 20px;

  border-radius: 15px;
  background-color: #19a59f;
  padding: 20px;
  font-size: 2em;
}

.meme-controls button {
  padding: 13px;
  box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
}

.meme-controls > button {
  grid-row: 1;
}

.meme-controls .font-select {
  grid-row: 2;
  grid-column: 1 / 4;
}

.meme-controls .colors-btns {
  grid-row: 2;
  grid-column: 4 / span 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
}

/* HIDDEN COLOR INPUT */
.meme-controls .color-picker {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
